kind: Service
apiVersion: v1
metadata:
  name: spring-boot-liberty
  namespace: spring-boot-liberty-dev
  annotations:
    description: The web server's http port.
  labels:
    application: spring-boot-liberty
spec:
  ports:
    - name: 9080-tcp
      port: 9080
      targetPort: 9080
      protocol: TCP
    - name: 9443-tcp
      port: 9443
      targetPort: 9443
      protocol: TCP
  selector:
    deploymentConfig: spring-boot-liberty
  type: ClusterIP
  sessionAffinity: None
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app.kubernetes.io/instance: spring-boot-liberty
    application: spring-boot-liberty
  name: spring-boot-liberty
  namespace: spring-boot-liberty-dev
spec:
  host: >-
    spring-boot-liberty-spring-boot-liberty-dev.cp4a-cluster-618682-3cd0ec11030dfa215f262137faf739f1-0001.us-south.containers.appdomain.cloud
  port:
    targetPort: 9080-tcp
  to:
    kind: Service
    name: spring-boot-liberty
    weight: 100
  wildcardPolicy: None
status:
  ingress:
---
kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: spring-boot-liberty
  namespace: spring-boot-liberty-dev
  labels:
    application: spring-boot-liberty
spec:
  strategy:
    type: Rolling    
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    resources: {}
  selector:
    application: spring-boot-liberty
    deploymentConfig: spring-boot-liberty
  replicas: 1
  triggers:
    - type: ConfigChange
  template:
    metadata:
      labels:
        application: spring-boot-liberty
        deploymentConfig: spring-boot-liberty
      name: spring-boot-liberty
    spec:
      containers:
        - name: spring-boot-liberty
          image: <DOCKER_IMAGE>
          imagePullPolicy: Always
          livenessProbe:
            tcpSocket:
              port: 9443
            initialDelaySeconds: 45
            periodSeconds: 45
            successThreshold: 1
            timeoutSeconds: 1
            failureThreshold: 3
          ports:
            - containerPort: 9080
              name: 9080-tcp
              protocol: TCP
            - containerPort: 9443
              name: 9443-tcp
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: 9443
            initialDelaySeconds: 120
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
            failureThreshold: 3
          securityContext:
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: false
      terminationGracePeriodSeconds: 60
      dnsPolicy: ClusterFirst
      serviceAccountName: websphere
      serviceAccount: websphere
      securityContext:
        runAsUser: 1001
        runAsNonRoot: true
